body {
    margin: 0;
}
.box {
    width: 400px;
    height:400px;
    background: blue;
    position: relative;
    left: 400px;
    top: 200px;
    /*
    top: push down from the top 
    left: push right from the left
    right: push left from the right
    bottom: push up from the bottom 
    */
}
.wrap {
    width: 800px;
    height: 1000px;
    position: relative;
    margin: auto;
    background: orange;
}

.box2 {
    width: 70px;
    height:70px;
    background: blue;
    margin: auto;
    position: absolute;
    left: -35px;
    top: 30px;
}